
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: rgb(213, 179, 12);
	font-size: 50px;
}

button {
	height: 50px;
	width: 200px;
	margin: 25px;
	border-radius: 10px;
	background: rgb(17, 184, 184);
	border-color:  rgb(9, 99, 99);
}

div {
	text-align: center;
	padding-top: 150px;
}
